<div id="status"></div>

<button id="startGame">Start the Game</button>

<div id="container">
	<div>Time Left: <span id="time"></span> seconds</div>
	<div id="displayQuestion"></div>
</div>
<div><br></div>
<div>Score: <span id="score"></span></div>
<div><br></div>
<div>Top Scores</div>
<div><br></div>
<!-- <div>
	<button id="submitScore">submit score</button>
</div> -->