<div id="status"></div>

<button id="startGame">START GAME</button>

<div id="container">
	<div>Time Left: <span id="time"></span> seconds</div>

	<div id="displayQuestion"></div>
</div>

<div>Score: <span id="score"></span></div>

<div>
	<button id="submitScore">submit score</button>
</div>