 <div id="registertitle">
    <h3>Register Here</h3>
 </div>

<form class="create-update-form" action="/users/create" method="POST">
<div class="form-group">
<label for="username">Username</label><br>
<input type="text" id="username" name="username" placeholder="testman">
</div>
<div class="form-group">
<label for="email">Email</label><br>
<input type="text" id="email" name="email" placeholder="test123@test.com">
</div>
<div class="form-group">
<label for="pass">Password</label><br>
<input type="password" id="pass" name="password" placeholder="*********">
</div>

<button id="add-newuser" type="submit">Sign Up</button>
<a id="backtomain" href="/users/sign-in" >Login</a>
<br>

</form>
